@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Piazzolla", serif;
}

:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  margin: 0;
}

.main_menu {
  color: #fff;
  background-color: var(--main-bg);
  padding: 2rem 0;
}

.navbar a {
  color: #fff;
  font-size: 1.8rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar li {
  margin-left: 2rem;
}

.navbar-toggler {
  background-color: grey;
}

.fa-snowflake {
  -webkit-transition: all linear;
  transition: all linear;
  -webkit-animation: rot 4s linear infinite;
          animation: rot 4s linear infinite;
  color: var(--main-color);
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main_header_left {
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_header_left p {
  font-size: 2rem;
}

.main_header_left h1 {
  font-size: 4rem;
  margin-top: 1rem 0 4rem 0;
  text-transform: capitalize;
}

.main_header_left .text_clr {
  color: var(--main-color);
}

.main_header_left button {
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.4rem;
  border: radius 2rem;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  -webkit-box-sizing: 0 8px 6px -6px #000;
          box-sizing: 0 8px 6px -6px #000;
}

.main_header_left button:hover {
  -webkit-box-shadow: 0 8px 6px -6px var(--main-bg);
          box-shadow: 0 8px 6px -6px var(--main-bg);
}

.main_header_left figure img {
  width: 80rem;
  height: 50rem;
}

.main_header_left .main404_content {
  position: relative;
  left: 60%;
  top: 0%;
}

.main_header_right {
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_header_right figure img {
  width: 50rem;
  height: 50rem;
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
}

.tempinformation {
  width: 40rem;
  margin: auto;
  height: 30rem;
  background-color: #323544;
  border-radius: 1rem;
  font-family: "Roboto", "sans-serif";
}

.tempinformation .top_layer {
  width: 100%;
  height: 20%;
  background-color: #2d303d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

.tempinformation .top_layer p {
  color: #fff;
  padding: 2rem;
  font-size: 1.5rem;
}

.tempinformation .main_layer {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.tempinformation .main_layer #city_name {
  padding: 2rem 0;
  color: #bfc1c8;
  font-weight: 300;
  font-size: 2rem;
}

.tempinformation .main_layer .middle_layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.tempinformation .main_layer .middle_layer p,
.tempinformation .main_layer .middle_layer .fas {
  font-size: 7rem;
  font-weight: 900;
}

.tempinformation .main_layer .middle_layer .fas {
  color: #009ad8;
}

.tempinformation .main_layer .middle_layer sup {
  font-size: 6rem;
  margin-top: -2rem;
}

.tempinformation .data-hide {
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.temp_form {
  width: 60%;
  position: relative;
  margin: 5rem auto;
}

.temp_form input[type="text"] {
  width: 100%;
  padding: 2rem 5rem 2rem 2rem;
  background-color: #1e202b;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 3rem;
}

.temp_form input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: none;
  background: #009ad8;
  padding: 0 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover {
  color: #009ad8;
  background-color: white;
}

::-webkit-input-placeholder {
  color: #bfc1c8;
}

:-ms-input-placeholder {
  color: #bfc1c8;
}

::-ms-input-placeholder {
  color: #bfc1c8;
}

::placeholder {
  color: #bfc1c8;
}

footer {
  width: 100%;
  background-color: var(--main-bg);
  margin-top: auto;
}

footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  line-height: 5rem;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }
  .main_header_right {
    height: auto;
    margin: 5rem 0;
  }
  .temp_form {
    width: auto;
  }
  .tempinformation {
    width: auto;
    height: 20rem;
  }
  .tempinformation .main_layer .middle_layer p,
  .tempinformation .main_layer .middle_layer .fas {
    font-size: 5rem;
  }
  .main_header_right figure img {
    width: auto;
    height: 50rem;
    -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
            filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
  }
}
/*# sourceMappingURL=style.css.map */